.common-form{
    text-align: center;
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 300px;
    }
    .common-input{
        height: 35px;
        width: 100%;
        margin-bottom: 5px;
        border: 1px solid blueviolet;
        color: blueviolet;
    }
    .common-button{
        height: 35px;
        border: 1px solid blueviolet;
        cursor: pointer;
        width: 48%;
    }
    