<div class="party-theme">
  <p class="home-title">Let's Celebrate Together</p>
  <marquee><p class="home-timing">Time remaining: {{ countdown }}</p></marquee>
  <p class="description">You're Invited!</p>
  <p class="description-body">Join us for a spectacular New Year's party as we welcome the dawn of a new year. Get ready to dance the night away with live music, indulge in delicious food and drinks, and experience a breathtaking fireworks display. Don't miss out on this unforgettable celebration!</p>
  <p class="description">Location: <span class="description-body">{{ location }}</span></p>
  <p class="description">Date: <span class="description-body">{{ date }}</span></p>
  <p class="description">Time: <span class="description-body">{{ time }}</span></p>
</div>
